{% extends 'base.html' %}
{% block content %}
<div class="page-header">
    <div class="row align-items-center">
        <div class="col">
            <h3 class="page-title">View Attendance</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'staff_home' %}">Dashboard</a></li>
                <li class="breadcrumb-item active">View Attendance</li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form action="" method="post">
                        {% csrf_token %}
                            <div class="col-12">
                                <h5 class="form-title"><span>View Attendance</span></h5>
                            </div>
                        {% include 'includes/messages.html' %}

                        <div class="col-sm-12">
                            <table id="table_id" class="table table-hover table-center mb-0">
                                 <thead>
                                    <tr>
                                       <th>Date</th>
                                    </tr>
                                 </thead>
                                 <tbody>
                                 {% for i in attendance_report %}
                                    <tr>
                                       <td>{{i.attendance_id.attendance_date}}</td>
                                    </tr>
                                 {% endfor %}
                                 </tbody>
                              </table>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div
{% endblock %}