{% extends 'base.html' %}
{% block content %}
<div class="page-header">
    <div class="row align-items-center">
        <div class="col">
            <h3 class="page-title">Sessions</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'view_session' %}">Sessions</a></li>
                <li class="breadcrumb-item active">Edit Session</li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <form action="{% url 'update_session' %}" method="post">
                        {% csrf_token %}
                            <div class="col-12">
                                <h5 class="form-title"><span>Add Session</span></h5>
                            </div>
                        {% include 'includes/messages.html' %}
                            <div class="col-sm-12">
                                    <div class="form-group">
                                       <label>Session Year Start</label>
                                       <div>
                                          <input type="date" name="session_year_start" class="form-control" required value="{{session.session_start}}">
                                          <input type="text" name="session_id" class="form-control" required value="{{session.id}}" hidden="">
                                       </div>
                                    </div>
                                 </div>
                        <div class="col-sm-12">
                                    <div class="form-group">
                                       <label>Session Year End</label>
                                       <div>
                                          <input type="date" id="sessionYearEnd" name="session_year_end" class="form-control" required value="{{session.session_end}}">
                                       </div>
                                    </div>
                                 </div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">Edit Session</button>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}