{% extends 'base.html' %}
{% block content %}
<div class="page-header">
    <div class="row align-items-center">
        <div class="col">
            <h3 class="page-title">Subjects</h3>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'view_subject' %}">Subjects</a></li>
                <li class="breadcrumb-item active">Add Subjects</li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <form action="{% url 'update_subject' %}" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col-12">
                            <h5 class="form-title"><span>Edit Subject</span></h5>
                        </div>
                        {% include 'includes/messages.html' %}
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Subject Name</label>
                                <input type="text" class="form-control" name="subject_name" required value="{{subject.name}}">
                                <input type="text" class="form-control" name="subject_id" required value="{{subject.id}}" hidden="">
                            </div>
                        </div>
                        <div class="col-sm-12">
                                    <div class="form-group">
                                       <label>Course</label>
                                       <select class="form-control" name="course_id" required>
                                          <option selected value="{{subject.course.id}}">{{subject.course}}</option>
                                           {% for i in course %}
                                          <option value="{{i.id}}">{{i.name}}</option>
                                          {% endfor %}
                                       </select>
                                    </div>
                            </div>
                        <div class="col-sm-12">
                                    <div class="form-group">
                                       <label>Staff</label>
                                       <select class="form-control" name="staff_id"  required>
                                          <option selected value="{{subject.staff.id}}">{{subject.staff.admin.first_name}}&nbsp;{{subject.staff.admin.last_name}}</option>
                                           {% for i in staff %}
                                          <option value="{{i.id}}">{{i.admin.first_name}}&nbsp;{{i.admin.last_name}}</option>
                                          {% endfor %}
                                       </select>
                                    </div>
                            </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary">Update</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}